<ion-header>
  <ion-buttons>
    <button ion-button clear (click)="dismissModal()">Fermer</button>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <h1 text-center>{{this.article.name}}</h1>
  <p> {{this.article.description}}</p>

  <form [formGroup]="lendForm" (ngSubmit)="onSubmitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label *ngIf="this.article.isLended" class="center">Livre emprunté par {{this.article.person}}</ion-label>
          <ion-item *ngIf="!this.article.isLended">
            <ion-input type="text" placeholder="Nom de l'emprunteur" clearInput formControlName="person"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round color="secondary" [disabled]="!this.article.isLended" full type="submit">Rendu</button>
        </ion-col>
        <ion-col>
          <button ion-button round color="primary" [disabled]="this.article.isLended || !lendForm.valid" full
                  type="submit">Prêté
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
